<!DOCTYPE html>
<html>
  <head>
    <title>WebpackBoilerTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag asset_bundle_path('bootstrap.js') %>
    <%= javascript_include_tag asset_bundle_path('jqueryUjs.js') %>
    <%= javascript_include_tag asset_bundle_path('application.js') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
